:root {
  --primary-red: #e63946;
}

.container {
  width: 100%;
  padding: 100px 20px;
  text-align: center;
  overflow-x: clip;
  overflow-y: hidden;
  position: relative;
  background: var(--primary-white);
}

.heading h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--primary-red);
  font-family: var(--heading-font);
}

.heading p {
  font-size: 1.1rem;
  color: var(--text-light);
  margin-top: 8px;
  font-family: var(--para-font);
}

.content {
  margin-top: 70px;
  max-width: 1200px;
  margin-inline: auto;
  width: 100%;
}

@media (max-width: 768px) {
  .container {
    padding: 60px 16px;
    width: 92%;
  }
  .heading h2 {
    font-size: 2rem;
  }
}
