.singleBlog {
  width: 100%;
  background-color: var(--background-white);
}

.blogContent {
  max-width: 750px;
  margin: 0 auto;
  padding: 2.5rem 1.5rem;
  font-size: 1.05rem;
  line-height: 1.8;
  color: var(--text-black);
}

.loading {
  text-align: center;
  padding: 3rem;
  font-size: 1.1rem;
  color: var(--text-light);
}

.blogContent h2 {
  margin-top: 2rem;
  font-size: 1.4rem;
  color: var(--text-black);
}

.blogContent img {
  width: 100%;
  border-radius: 10px;
  margin: 1.5rem 0;
}
