.page {
  padding: 30px;
  animation: fadeIn 0.4s ease-in-out;
}

.heading {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #1d3557;
  font-family: var(--heading-font);
}

/* Controls Section */
.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 15px;
  flex-wrap: wrap;
}

.searchBox {
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 250px;
  font-size: 14px;
}

.filters {
  display: flex;
  gap: 10px;
}

.filterBtn {
  padding: 8px 16px;
  border-radius: 6px;
  border: 1px solid #1d3557;
  background: white;
  color: #1d3557;
  cursor: pointer;
  transition: 0.2s;
}

.activeFilter {
  background: #1d3557;
  color: white;
}

.grid {
  display: grid;
  gap: 22px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.loaderContainer {
  text-align: center;
  padding: 30px 0;
}

.loader {
  width: 32px;
  height: 32px;
  border: 4px solid #eee;
  border-top: 4px solid #1d3557;
  border-radius: 50%;
  margin: auto;
  animation: spin 1s linear infinite;
}

/* Animations */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
