/* old file stored in feature.js  */


/* NEW */.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 40px;
  perspective: 1000px;
  overflow: hidden;
  padding: 20px 0;
}
